h1 {
  background-image: url(pattern.jpeg);
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

h3{
  font-family: Helvetica;
  font-weight: bold;
}

p{
  font-family: Helvetica;
}

.lightcoral {
  background-color: lightcoral;
}

.skyblue {
  background-color: skyblue;
}
